section.landing.landing_dentinale-natura
    .container.landing__container
      .landing__body 
        h1.landing__item Dentinale® natura
        h2.landing__item Детский гель при прорезывании зубов на основе натуральных экстрактов. Без анальгетиков и анестетиков.
        form.landing__item(action="#")
            input.about-button(type="submit" value="Смотреть видео") 