section.landing.landing_nosefrida 
    .container.landing__container
      .landing__body 
        h1.landing__item NoseFrida ®
        h2.landing__item Детский назальный аспиратор.Свободное дыхание малыша с первых дней жизни.
        form.landing__item(action="#")
            input.about-button(type="submit" value="Смотреть видео") 