section.product.product_blue(data-aos="fade-up")
    .container
        .product__body
            a(href="#")
                img.product__image(src="img/dentinale_product.png", alt="#")
            .product-card.product__card(data-aos="flip-right")
                .product-card__body 
                    .product-card__heading при коликах
                    .product-card__name Windi
                    .product-card__description Газоотводная трубочка для скорой помощи при коликах у новорождённых.
                    form(action="#")
                        input.about-button.product__about-button(type="submit" value="Подробнее")

                    