section.product.product_green(data-aos="fade-up")
    .container
        .product__body 
            a(href="#")
                img.product__image(src="img/dentinale_product.png", alt="#")
            .product-card.product__card(data-aos="flip-right")
                .product-card__body 
                    .product-card__heading при прорезании зубов
                    .product-card__name Dentinale natura
                    .product-card__description Детский гель для легкого прорезывания зубов. Без анальгетиков и анестетиков.
                    form(action="#")
                        input.about-button.product__about-button(type="submit" value="Подробнее")

                    