section.product.product_pink(data-aos="fade-up")
    .container
        .product__body 
            a(href="#")
                img.product__image(src="img/dentinale_product.png", alt="#")
            .product-card.product__card(data-aos="flip-right")
                .product-card__body 
                    .product-card__heading при заложенности носа
                    .product-card__name NoseFrida
                    .product-card__description Назальный аспиратор для свободного дыхания малыша с первых дней жизни.
                    form(action="#")
                        input.about-button.product__about-button(type="submit" value="Подробнее")

                    