footer.footer
    .container
        .footer__header 
            .footer__logo
                a(href='#')
                    img.logo__image.logo(src="img/logo.svg" alt="#")
            
            .footer__icons-social.icons-social 
                .icons-social__icon-wrap
                    a(href='#')
                        img.icons-social__image(src="img/instagram.svg" alt="#")
                .icons-social__icon-wrap
                    a(href='#')
                        img.icons-social__image(src="img/vk.svg" alt="#")
                .icons-social__icon-wrap
                    a(href='#')
                        img.icons-social__image(src="img/facebook.svg" alt="#")
                .icons-social__icon-wrap
                    a(href='#')
                        img.icons-social__image(src="img/ok.svg" alt="#")
                .icons-social__icon-wrap
                    a(href='#')
                        img.icons-social__image(src="img/ok.svg" alt="#")
                .icons-social__icon-wrap
                    a(href='#')
                        img.icons-social__image(src="img/ok.svg" alt="#")
        .footer__body 
            ul.footer__pages 
                li.footer__page 
                    a.menu-link(href="#") Dentinale natur 
                li.footer__page 
                    a.menu-link(href="#") Windi 
                li.footer__page 
                    a.menu-link(href="#") NoseFrida
                li.footer__page 
                    a.menu-link(href="#") Где купить?
                li.footer__page 
                    a.menu-link(href="#") Вопросы-ответы
                li.footer__page 
                    a.menu-link(href="#") Контакты
                li.footer__page 
                    a.menu-link(href="#") Политика-конфедециальности 
                li.footer__page 
                    a.menu-link(href="#") Пользовательское соглашение
            .footer__contacts 
                .footer__tel
                    a.menu-link(href="tel:+74957878773") +7(495)787-87-73
                .footer__time.menu-label Пн-Пт 10:00-17:00 МСК
                .footer__mail
                    a.menu-link(href="mailto:info@aptechka4kids.com") info@aptechka4kids.com
            .brands.footer__brands
                .brands__header.menu-label Аптечка малыша рекомендует
                .brands__body
                    a.brands__logo-link(href="#")
                        img.brands__logo-image(src="/img/hevea.png", alt="#")
                    a.brands__logo-link(href="#")
                        img.brands__logo-image(src="/img/kabrita.png", alt="#")
        .footer__footer 
            .footer__about.menu-label © 2020 ООО «Премьер Нутришинал» — официальный дистрибутор в РФ, странах СНГ, Балтии и Украине


                
            


        

            

    
