header.header
  .header__logo
    a(href='./')
      img.logo__image.logo(src="img/logo.svg" alt="#")
  include burger
  .header__menu.menu
    nav 
      ul.menu__body 
        li 
          a.menu-link.menu__link(href="dentinale-natura.html") Dentinale natura
        li 
          a.menu-link.menu__link(href="windi.html") Windi 
        li 
          a.menu-link.menu__link(href="nosefrida.html") NoseFrida 
        li 
          a.menu-link.menu__link(href="#") Мамам
        li 
          a.menu-link.menu__link(href="#") Где купить?
        li 
          a.menu-link.menu__link(href="#") Контакты
    .menu__action.action
      a(href="#") 
        .action__image-wrap
          img.action__image(src="img/globe.svg" alt="#")
      .action__language
        ul.action__body 
          li 
            a.action__link.menu-link(href="#") AZ
          li 
            a.action__link.menu-link(href="#") BY 
          li 
            a.action__link.menu-link(href="#") KZ 
          li 
            a.action__link.menu-link(href="#") LV
          li  