section.slider-super-mom(data-aos="zoom-in-up")
  .slider-super-mom__header Выбор супер-мам
  .swiper-container.container
    .swiper-wrapper 
      .swiper-slide
        .slider-super-mom__body
          .slider-super-mom__column
            img.slider-super-mom__image(src='img/vibor_mam_4.jpg' alt='#')
          .slider-super-mom__column
            .slider-super-mom__content.slider-super-mom-content
              .slider-super-mom-content__header Аспиратор NoseFrida® — мега-удобная вещь!
              .slider-super-mom-content__text Все мамы знают, что малыши до года обычно не умеют самостоятельно высмаркиваться, а носик очищать нужно. Когда я готовилась к рождению своего второго малыша, то сразу добавила в аптечку аспиратор NoseFrida®. Мега-удобная вещь! Во-первых, скругленный носик трубки, который я просто подношу к ноздре и начинаю проводить процедуру. Мой мальчик очень подвижный, а такая конструкция не травмирует слизистую оболочку носа. Во-вторых, у NoseFrida® есть гигиенический фильтр, благодаря которому бактерии и слизь не попадают в рот. Я очищала Егору носик и когда он болел, заражения не было. Ухаживать просто — промыл и заменил фильтр. Важно, что NoseFrida® продается в удобном футляре, в котором она хранится в нашей аптечке уже 2 года.
              .slider-super-mom-content__author Даша, мама Алины (2 месяца)
      .swiper-slide
        .slider-super-mom__body
          .slider-super-mom__column
            img.slider-super-mom__image(src='img/vibor_mam_3.jpg' alt='#')
          .slider-super-mom__column
            .slider-super-mom__content.slider-super-mom-content
              .slider-super-mom-content__header Lorem ipsum dolor sit.!
              .slider-super-mom-content__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit molestiae excepturi fuga voluptate vel asperiores, cumque est reprehenderit quis quibusdam.
              .slider-super-mom-content__author Lorem ipsum dolor sit amet.(2 month)
  .swiper-button-prev.swiper-button
  .swiper-button-next.swiper-button