section.landing.landing_main
    .container.landing__container
      .landing__body(data-aos="fade-down")
        h1.landing__item Первая помощь для малыша
        h2.landing__item При коликах, заложенности носа и прорезывании зубов
        form.landing__item(action="#")
            input.about-button(type="submit" value="Подробнее") 