extends common/layout

block content
  include includes/index/landing-main
  include includes/index/products/product-green-dentinale
  include includes/index/products/product-blue-windi
  include includes/index/products/product-pink-nosefrida
  include common/slider-super-mom-choose
  include includes/index/form-subscribe