// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

$container-width: 1200px;
$brp-laptop: 1024px;
$brp-tablet: 811px;
$brp-mobile: 570px;
$burgerShow: 1273px;
$dark-blue: rgb(14, 31, 86);

$about-product-circle-radius: 400px;
$dentinale-color: #bfe562;
$windi-color :#b9e2f7;
$nosefrida-color :#f0b2cc;
