section.about-product.about-product_blue
    ul.about-product__menu.about-product__menu
        li.about-product__link
            a.menu-link.menu-link_underline(href="#") О продукте  
        li.about-product__link
            a.menu-link.menu-link_underline(href="#") Как использовать 
        li.about-product__link
            a.menu-link.menu-link_underline(href="#") Симптомы
        li.about-product__link
            a.menu-link.menu-link_underline(href="#") О бренде
    .container.about-product__container
        .about-product__header.heading О продукте
        .about-product__body 
            .about-product__column
                .about-product__advantage
                    .about-product__advantage-heading Безвреден при проглатывании
                    .about-product__advantage-icon 
                        img(src="img/icon-about-product-2.1.svg", alt="#")
                .about-product__advantage
                    .about-product__advantage-heading Имеет приятный вкус
                    .about-product__advantage-icon 
                        img(src="img/icon-about-product-2.1.svg", alt="#")
                .about-product__advantage
                    .about-product__advantage-heading Натуральные экстракты
                    .about-product__advantage-icon 
                        img(src="img/icon-about-product-2.1.svg", alt="#")
            .about-product__column
                .about-product__image
                    a(href="#") 
                        img(src="img/about-product-dentinale.png", alt="#")
            .about-product__column
                .about-product__advantage
                    .about-product__advantage-heading Без ликодина, сахара и парабенов
                    .about-product__advantage-icon 
                        img(src="img/icon-about-product-2.1.svg", alt="#")   
                .about-product__advantage
                    .about-product__advantage-heading Двойной объем - 20мл
                    .about-product__advantage-icon 
                        img(src="img/icon-about-product-2.1.svg", alt="#")
                .about-product__advantage
                    .about-product__advantage-heading Сделано в Италии
                    .about-product__advantage-icon 
                        img(src="img/icon-about-product-2.1.svg", alt="#")
        .about-product__preview 
                .about-product__preview-image
                    a(href="#") 
                        img(src="img/preview-dentinale-1.jpg", alt="#")
                .about-product__preview-image
                    a(href="#") 
                        img(src="img/preview-dentinale-2.jpg", alt="#")
         
