section.landing.landing_windi
    .container.landing__container
      .landing__body 
        h1.landing__item Windi®
        h2.landing__item Газоотводная трубочка для новорожденных. Быстрая и эффективная помощь при коликах.
        form.landing__item(action="#")
            input.about-button(type="submit" value="Смотреть видео") 